
.nx/installation
.nx/cache
.nx/workspace-data


.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
.mcp.json
.claude/settings.local.json
src/.claude/settings.local.json

sample-app
.gemini/settings.json
src/.claude/settings.local.json
.env
.vscode/mcp.json
.my-notes/


src/project-config-symlinker/dist
src/project-config-symlinker/setup-config.json
src/project-config-symlinker/sample
src/project-config-symlinker/.claude/settings.local.json
