
.nx/installation
.nx/cache
.nx/workspace-data


.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
.mcp.json
.claude/settings.local.json
src/.claude/settings.local.json

sample-app
.gemini/settings.json
src/.claude/settings.local.json
.env
.vscode/mcp.json
.my-notes/


app/.claude/settings.local.json
